.list {
  height: 210px;
  overflow: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 26px;
}
.add-btn {
  height: 30px;
  width: 70px;
  border-radius: 8px;
  background: #4788f1;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
